<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Gwt for Spring Security - Gwt-SL Demo</display-name>
    <context-param>
        <description>Spring Configuration</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>com.gwt.ss.demo2.server</param-value>
    </context-param>
    <context-param>
        <description>Enabled Spring Annotation</description>
        <param-name>contextClass</param-name>
        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
    </context-param>

    <filter>
        <description>Enforece Access Encoding</description>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>noCachingFilter</filter-name>
        <filter-class>org.gwtwidgets.server.filters.ResponseHeaderFilter</filter-class>
        <init-param>
            <param-name>Expires</param-name>
            <param-value>Di, 1 Jul 2008 12:00:00 GMT</param-value>
        </init-param>
        <init-param>
            <param-name>Cache-Control</param-name>
            <param-value>no-cache, must-revalidate</param-value>
        </init-param>
        <init-param>
            <param-name>Pragma</param-name>
            <param-value>no-cache</param-value>
        </init-param>
    </filter>
    <filter>
        <description>Spring Security Filter</description>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>noCachingFilter</filter-name>
        <url-pattern>/greet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>noCachingFilter</filter-name>
        <url-pattern>/staff</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
    </listener>
  <!-- Servlets -->
    <servlet>
        <servlet-name>springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value/>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <!--
         importance: url-pattern can't be same with module name,don't using
         <url-pattern>/demo2/*</url-pattern>
        -->
        <url-pattern>/gwtsl/*</url-pattern>
    </servlet-mapping>

  <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
