<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
            xmlns:beans="http://www.springframework.org/schema/beans"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:p="http://www.springframework.org/schema/p"
            xmlns:context="http://www.springframework.org/schema/context"
            xmlns:aop="http://www.springframework.org/schema/aop"
            xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    <!--Important:when instantate GwtSessionManagement bean,set proxy-target-class as "false" -->
    <aop:aspectj-autoproxy proxy-target-class="true"/> 
    <beans:bean class="com.gwt.ss.GwtExceptionTranslator"/>
    <global-method-security pre-post-annotations="disabled" secured-annotations="enabled" jsr250-annotations="enabled"/>
	<http pattern="/**/demo4" security="none" />
    <http pattern="/openid/**" security="none" />
    <http auto-config="false" use-expressions="true" disable-url-rewriting="true">
        <intercept-url pattern="/gwtsl/staff/**" access="hasRole('ROLE_STAFF')" requires-channel="any"/>
        <intercept-url pattern="/secured/**" access="hasRole('ROLE_STAFF')" requires-channel="any"/>
        <intercept-url pattern="/gwtsl/admin/gwt.openid.verify" access="hasRole('ROLE_ADMIN')" requires-channel="any"/>
        <openid-login login-page="/openid/login.jsp" user-service-ref="openIdUserService"
                authentication-failure-url="/openid/login.jsp?login_error=true">
            <attribute-exchange identifier-match="https://www.google.com/.*">
                <openid-attribute name="email" type="http://axschema.org/contact/email" required="true" count="1"/>
                <openid-attribute name="firstname" type="http://axschema.org/namePerson/first" required="true" />
                <openid-attribute name="lastname" type="http://axschema.org/namePerson/last" required="true" />
            </attribute-exchange>
            <attribute-exchange identifier-match=".*yahoo.com.*">
                <openid-attribute name="email" type="http://axschema.org/contact/email" required="true"/>
                <openid-attribute name="fullname" type="http://axschema.org/namePerson" required="true" />
            </attribute-exchange>
            <attribute-exchange identifier-match=".*myopenid.com.*">
                <openid-attribute name="email" type="http://schema.openid.net/contact/email" required="true"/>
                <openid-attribute name="fullname" type="http://schema.openid.net/namePerson" required="true" />
            </attribute-exchange>
        </openid-login>
        <!--when using GwtLogout[Async] process Logout,must config success-handler-ref instead of logout-success-url-->
        <logout invalidate-session="true" success-handler-ref="logoutSuccessHandler" logout-url="/j_spring_security_logout"/>
        <!--
        <session-management invalid-session-url="/login?sessionInvalid=true">
            <concurrency-control max-sessions="1" expired-url="/login?sessionExpired=true"/>
        </session-management>
        -->
        <remember-me key="gssdem4"/>
    </http>
    
    <!--when using GwtLogin[Async] process Login-->
    <beans:bean class="com.gwt.ss.GwtUsernamePasswordAuthority">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
    </beans:bean>
                                      
    <!--when using GwtLogout[Async] process Logout,
        logoutSuccessUrl is specified once the user has logged out. If not specified, defaults to /.-->
    <beans:bean id="logoutSuccessHandler" class="com.gwt.ss.GwtLogoutSuccessHandler" p:logoutSuccessUrl="/"/> 
      
    <!--for sessiong-management
    <beans:bean class="com.gwt.ss.GwtSessionManagement"/>
    -->
    
    <authentication-manager alias="authenticationManager"/>
    
</beans:beans>